<div class="m-5">
  <h1>Stupid coach</h1>
  <h3>Ask something to your coach</h3>
  <div class="col-12 col-md-10 col-lg-8 col-xl-6">
    <form action="/answer" class="input-group" data-turbo="false">
      <input type="text" class="form-control" name="question">
      <input type="submit" class="btn btn-primary" value="Ask!">
    </form>
  </div>
</div>
